body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  --shadow: 0 1px 8px -6px #000;
  --left-panel-width: 400px;
  --top-bar-height: 40px;
}
.left-panel, .top-panel {
  padding: 8px;
  box-sizing: border-box;
  position: relative;
  z-index: 10000;
  font-size: .9rem;
  background: #fffb;
  backdrop-filter: blur(8px);
}
.left-panel {
  width: var(--left-panel-width);
  height: 100%;
}
.pane > .top-panel {
  width: calc(100% - 40px);
  left: 20px;
  padding: 5px 16px;
  border-radius: 0 0 16px 16px;
  top: -8px;
  height: 38px;
}
.field {
  height: 30px;
  display: inline-block;
}
.field:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid #ccc;
  padding-right: 10px;
}
.field > label {
  margin-right: 4px;
}
.field > .suffix {
  margin-left: 4px;
}
.top-panel > .field > input {
  width: 100px;
}
button, select, input[type="text"], input[type="number"], input[type="file"] + label {
  font-family: sans-serif;
  padding: 5px 8px;
  border: 1px solid #0003;
  border-radius: 5px;
  background-color: #f8f8f8;
  transition: all .1s ease;
  font-size: 0.9rem;
  line-height: 1rem;
  display: inline-block;
  box-sizing: border-box;
}
input:invalid {
  background: #fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxjaXJjbGUgY3g9IjUiIGN5PSI1IiByPSI1IiBmaWxsPSIjZjgxIi8+PC9zdmc+Cg==) right / 18px 10px no-repeat !important;
  padding-right: 22px;
  transition: all .1s ease, background;
}
button:enabled, select:enabled, input[type="file"]:enabled + label {
  background-color: #eee;
  cursor: pointer;
}
button:enabled:hover, select:enabled:hover, input[type="file"]:enabled + label:hover {
  background-color: #f4f4f4;
}
button.next {
  padding-right: 5px;
  position: relative;
  margin-right: 10px;
  float: right;
}
button.previous {
  padding-left: 5px;
  position: relative;
  margin-left: 10px;
}
button.next::after, button.previous::after {
  content: '';
  width: 21px;
  height: 21px;
  display: block;
  position: absolute;
  top: 2px;
  border-radius: 5px 3px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: linear-gradient(45deg, #0000 14px, #f8f8f8 15px);
}
button.next::after {
  right: -8px;
  transform: rotate(45deg);
}
button.previous::after {
  left: -8px;
  transform: rotate(225deg);
}
button.next:enabled::after, button.previous:enabled::after {
  background: linear-gradient(45deg, #0000 14px, #eee 15px);
}
button.next:enabled:hover::after, button.previous:enabled:hover::after {
  background: linear-gradient(45deg, #0000 14px, #f4f4f4 15px);
}
button.submit:enabled {
  background-color: #394;
  color: #fff;
}
button.submit:enabled:hover {
  background-color: #3a4;
}
select {
  padding-right: 20px;
  appearance: none;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwb2x5Z29uIHBvaW50cz0iMCwwIDEwLDAgNSw1Ii8+PC9zdmc+Cg==) bottom right / 15px 15px no-repeat;
}
input[type="file"] {
  display: none;
}
.pane {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  padding: calc(var(--top-bar-height) + 16px) 8px 8px 8px;
  box-sizing: border-box;
  z-index: 1001;
}
.pane > * {
  border-radius: 10px;
  box-shadow: var(--shadow);
}
.center {
  text-align: center;
}
.app {
  width: 100%;
  height: 100%;
}
.mask {
  background: #fff8;
  z-index: 10001;
  width: 100%;
}
.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: #82c;
  z-index: 10002;
  display: none;
  transition: .1s width ease;
}
body.sending .mask {
  visibility: visible;
}
body.sending .progress {
  display: block;
}
#edit, #misc {
  width: 100%;
}

@property --progress {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
