:host {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background: #bbb;
  overflow: hidden;
}
canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 43px;
}
.toolbar {
  height: 100%;
  width: 43px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  background: #f8f8f8;
  box-sizing: border-box;
  box-shadow: 0 0 4px -1px #000;
  z-index: 1;
}
.button {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #bbb;
  box-sizing: border-box;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  cursor: pointer;
  padding: 3px;
}
.button:not(:last-child) {
  margin-bottom: 5px;
}
#polygon {
  background-image: url("/img/poly.svg");
}
#line {
  background-image: url("/img/line.svg");
}
.button:hover {
  background-color: #f8f8f8;
}
.button.selected {
  border: 2px solid #888;
  padding: 2px;
}
img {
  max-height: 100%;
  max-width: 100%;
  left: 43px;
  position: relative;
}
