:host {
  position: absolute;
  top: 8px;
  left: 8px;
  height: var(--top-bar-height);
  width: calc(100% - 16px);
  z-index: 10001;
  padding: 4px 4px 4px 68px;
  font-size: 0.9rem;
  line-height: 36px;
  border-radius: 20px;
  backdrop-filter: blur(8px);
  box-sizing: border-box;
  box-shadow: var(--shadow);
  background: url(/img/0wm.svg) 12px/44px no-repeat, #fffb;
}
:host > .tab {
  display: inline-block;
  height: 100%;
  padding: 0 12px;
  cursor: pointer;
  border-radius: 16px;
  margin-right: 4px;
}
:host > .tab.selected {
  background: #fff;
  pointer-events: none;
  box-shadow: var(--shadow);
}
:host > .tab:not(.selected):hover {
  background: #fff;
}
:host button, :host input, :host input[type="file"] + label {
  background: #fff;
  position: relative;
  height: 28px;
  border-radius: 16px;
  top: 2px;
  right: 2px;
}
:host button, :host input[type="file"] + label {
  cursor: pointer;
  float: left;
  line-height: 18px;
}
:host input {
  width: 200px;
}
:host button:disabled {
  pointer-events: none;
  background: #0000;
  color: #aaa;
  border-color: #ccc;
}
:host .right {
  float: right;
  margin-left: 4px;
}
:host button[type="submit"]:enabled {
  background: #3a4;
  color: #fff;
  border-color: #777;
}

:host > button.timer {
  --progress: 100%;
  border: 2px solid transparent;
  background-clip: padding-box, border-box;
  background-image: linear-gradient(white), conic-gradient(var(--color) var(--progress), #0003 0);
  line-height: 16px;
  padding: 5px 7px;
  background-origin: border-box;
  transition: --progress .2s ease;
}

:host > button.timer.started {
  animation: tick forwards linear(0, .18 10%, .32 40%, .68 60%, .82 90%, 1);
}

:host form {
  line-height: 100%;
}

:host form > * {
  vertical-align: middle;
  display: inline;
  float: unset !important;
}

:host > .tab.warning::before, :host > .tab.error::before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 6px;
  border-radius: 5px;
}
:host > .tab.warning::before {
  background: #f81;
}
:host > .tab.error::before {
  background: #f11;
}

@keyframes tick {
  to {
    --progress: 0%;
  }
}
