:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

:host > div {
  height: 100%;
}

:host .leaflet-top {
  top: calc(var(--top-bar-height) + 16px);
}

:host .leaflet-top > .leaflet-control {
  margin-top: 0;
}

:host .leaflet-left {
  left: 8px;
}

:host .leaflet-left > .leaflet-control {
  margin-left: 0;
}

:host .leaflet-bottom {
  bottom: 8px;
}

:host .leaflet-bottom > .leaflet-control {
  margin-bottom: 0;
}

:host .leaflet-right {
  right: 8px;
}

:host .leaflet-right > .leaflet-control {
  margin-right: 0;
}

:host .leaflet-control-attribution {
  border-radius: 8px;
  margin: 4px !important;
}

:host .leaflet-marker-pane > .anchor {
  position: absolute;
  border-radius: 12px;
  border: 2px solid #fff;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  color: #fff;
  cursor: move;
  box-shadow: 0 1px 6px -3px #000;
  box-sizing: border-box;
}

:host .leaflet-marker-pane > .anchor:nth-of-type(1) {
  background: #e11;
}

:host .leaflet-marker-pane > .anchor:nth-of-type(1)::after {
  content: "1";
  display: inline;
}

:host .leaflet-marker-pane > .anchor:nth-of-type(2) {
  background: #1b1;
}

:host .leaflet-marker-pane > .anchor:nth-of-type(2)::after {
  content: "2";
  display: inline;
}

:host .leaflet-marker-pane > .anchor:nth-of-type(3) {
  background: #11f;
}

:host .leaflet-marker-pane > .anchor:nth-of-type(3)::after {
  content: "3";
  display: inline;
}

:host .leaflet-control-zoom {
  border: 0 !important;
  border-radius: 8px;
  background: #fffb;
  backdrop-filter: blur(8px);
  box-shadow: var(--shadow) !important;
}

:host .leaflet-control-zoom-in, .leaflet-control-zoom-out {
  font-weight: normal !important;
  font-size: 24px !important;
  line-height: 26px !important;
  background: none !important;
}

:host > select {
  position: absolute;
  bottom: 8px;
  left: 8px;
  z-index: 1000;
  background-color: #fffb !important;
  border-radius: 8px;
  backdrop-filter: blur(8px);
}

:host(.editing) > select, :host(.editing) .leaflet-left {
  left: calc(var(--left-panel-width) + 16px);
}

:host > select:hover {
  background-color: #fff;
}

:host .leaflet-image-layer {
  user-select: none;
  cursor: default;
}

:host(:not(.editing):not(.locating)) .leaflet-floorplans-pane:not(.non-interactive) div.leaflet-image-layer:hover {
  opacity: 1 !important;
  background: #fffb;
  backdrop-filter: blur(8px);
  border-radius: 10px;
  pointer-events: all;
  box-shadow: var(--shadow);
  z-index: 2 !important;
}

:host .leaflet-image-layer > .options {
  height: 24px;
  background: #fffb;
  position: relative;
  visibility: hidden;
  backdrop-filter: blur(8px);
}

:host(:not(.editing):not(.locating)) .leaflet-image-layer:hover > .options {
  visibility: visible;
}

:host(:not(.locating)) .leaflet-image-layer {
  overflow: hidden;
}

:host .leaflet-image-layer > .options > .name {
  line-height: 24px;
  padding: 0 42px 0 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:host .leaflet-image-layer:hover > .options > .edit {
  width: 12px;
  height: 14px;
  background: #ccc;
  right: 26px;
  position: absolute;
  top: 5px;
  border-radius: 3px;
  cursor: pointer;
}

:host .leaflet-image-layer:hover > .options > .edit::before {
  content: "";
  width: 18px;
  height: 6px;
  background: linear-gradient(90deg, #000 4px, #fff 0 8px,#999 0 16px, #555 0);
  clip-path: polygon(0 50%, 8px 0, 100% 0, 100% 100%, 8px 100%);
  border-radius: 0 2px 2px 0;
  display: block;
  rotate: -52deg;
  position: relative;
  left: 0px;
  top: 1px;
}

:host .leaflet-image-layer:hover > .options > .delete {
  width: 14px;
  height: 14px;
  background: #666;
  right: 5px;
  position: absolute;
  top: 5px;
  border-radius: 7px;
  cursor: pointer;
}

:host .leaflet-image-layer:hover > .options > .delete::before {
  content: "";
  width: 2px;
  height: 10px;
  display: block;
  position: absolute;
  top: 2px;
  left: 6px;
  background: #fff;
  transform: rotate(45deg);
}

:host .leaflet-image-layer:hover > .options > .delete::after {
  content: "";
  width: 2px;
  height: 10px;
  display: block;
  position: absolute;
  top: 2px;
  left: 6px;
  background: #fff;
  transform: rotate(-45deg);
}

:host .leaflet-image-layer:hover > img, :host .leaflet-floorplans-pane.non-interactive .leaflet-image-layer {
  pointer-events: none;
}

:host .leaflet-control-scale {
  margin-bottom: 36px !important;
}

:host .leaflet-image-layer:before {
  content: "";
  display: block;
  position: absolute;
  border: 10px solid #f00;
  box-sizing: border-box;
  border-radius: 100%;
  z-index: 1;
  opacity: 0;
}

:host(.locating) .leaflet-image-layer:before {
  animation: .5s ease-in-out infinite alternate locate;
}

@keyframes locate {
  from {
    top: -25px;
    left: -25px;
    width: calc(100% + 50px);
    height: calc(100% + 50px);
    opacity: .5;
  }

  to {
    top: -30px;
    left: -30px;
    width: calc(100% + 60px);
    height: calc(100% + 60px);
    opacity: 1;
  }
}
